*{
    margin: 0
;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    width: 90%;
    height: ;
    margin: 20px auto ;
    padding: 20px;
    border: 1px solid rgb(203, 162, 101);
    border-radius: 13px;
    box-shadow: 0px 2px 4px rgba(97, 160, 181, 0.548);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mainpart{
    width: 90%;
    height: auto;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid aqua;
    border-radius: 9px;
    background-color: rgb(216, 226, 236);
    box-shadow: 0px 4px 9px rgba(222, 187, 214, 0.153);
}

.mainpart h2 {
    color: gray;
}